body, input {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #333;
}

.content {
    width: 800px;
    margin: 0 auto;
}

#tweet-search {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 2px 3px 1px rgba(0,0,0,0.07);
}

.tweet {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

h4 {
    margin: 10px 0;
}

.top {
    margin-top: 0;
}